.main {
  display: flex;
  align-items: center;

  .formContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 800px;

    h3 {
      font-size: 30px;
      font-family: "Lavishly Yours", serif;
      font-weight: 400;

      .iconLogo {
        margin-bottom: -5px;
        font-size: 50px;
        color: #f76e96;
      }
    }

    h2 {
      font-size: 50px;
      font-family: "Montserrat", serif;
      font-optical-sizing: auto;
      font-weight: 500;
    }

    .iconLogin {
      font-size: 100px;
      display: block;
      margin-left: 90px;
      color: #f76e96;
    }
  }

  img {
    margin-left: 30px;
    width: 850px;
    height: 800px;
    margin-top: 0px;
  }

  .erro {
    display: block;
    align-items: center;
    justify-content: center;
    color: red;
    margin-top: -10px;
  }

  .form {
    label {
      font-size: 25px;
      font-weight: 300;
    }

    input {
      outline: none;
      margin-bottom: 20px;
      width: 440px;
      height: 10px;
      display: block;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      font-size: 20px;
      padding: 30px 65px;
      border: none;
      box-shadow: 0 6px 6px rgba(0, 0, 0, 0.329);
      font-weight: 400;
    }

    input::placeholder {
      color: #eae1e1;
      font-size: 25px;
    }

    .iconCamp {
      margin-bottom: -55px;
      margin-left: -65px;
      font-size: 35px;
      color: #f76e96;
    }
  }

  button {
    color: #ffff;
    width: 570px;
    height: 85px;
    border-radius: 10px;
    background-color: rgb(17, 17, 17);
    font-size: 40px;
    font-weight: 400;
    margin-top: 5px;
    cursor: pointer;
  }

  button:hover {
    color: #868080;
    transition: 1s;
  }

  .linkContainer {
    font-size: 20px;
    display: flex;

    .linkRegister {
      text-decoration: none;
      margin-left: 10px;
      color: black;
    }

    .linkRegister:hover {
      color: #f76e96;
      text-decoration: underline;
    }
  }
}
