.main {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 630px;
    height: 630px;
    margin-top: 0px;
    margin-left: -150px;
  }
  .formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-left: 50px;

    h3 {
      font-size: 30px;
      font-family: "Lavishly Yours", serif;
      font-weight: 400;

      .iconLogo {
        font-size: 35px;
        margin-bottom: -2px;
        color: #f76e96;
      }
    }

    h2 {
      font-size: 45px;
      font-family: "Montserrat", serif;
      font-weight: 500;
    }

    .iconLogin {
      font-size: 80px;
      display: flex;
      color: #f76e96;
      margin-left: 200px;
    }
    label {
      margin-bottom: -10px;
      width: 100%;
      text-align: left;
      display: block;
      font-size: 20px;
      font-weight: 300;
    }

    input {
      outline: none;
      margin-bottom: 20px;
      width: 480px;
      height: 60px;
      text-indent: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      font-size: 20px;
      border: none;
      box-shadow: 0 6px 6px rgba(0, 0, 0, 0.329);
      font-weight: 400;

      &::placeholder {
        color: #eae1e1;
        font-size: 20px;
      }
    }

    .iconCamp {
      margin-bottom: -50px;
      margin-left: -420px;
      font-size: 35px;
      color: #f76e96;
    }
    .erro {
      display: flex;
      align-items: center;
      margin: 10px;
      color: red;
    }

    button {
      color: #ffff;
      width: 480px;
      height: 70px;
      border-radius: 10px;
      background-color: rgb(17, 17, 17);
      font-size: 30px;
      font-weight: 400;
      margin-top: 25px;
      cursor: pointer;
    }

    button:hover {
      color: #868080;
      transition: 1s;
    }

    .linkContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      margin: 15px;

      .linkRegister {
        text-decoration: none;
        margin-left: 10px;
        color: black;
      }

      .linkRegister:hover {
        color: #f76e96;
        text-decoration: underline;
      }
    }
  }
}
