.main {
  margin-top: -200px;
  width: 1400px;

  button {
    height: 30px;
    margin-left: 700px;
  }
  .articleContainer {
    h2 {
    }

    p {
    }
  }
  img {
    display: flex;
  }
  ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 0;
  }

  li {
    margin-bottom: 5px;
  }

  strong {
    font-weight: 500;
  }
  .icons {
    color: #ff81ae;
  }
}
