.main {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Arial", sans-serif;
  color: #333;

  button {
    display: block;
    margin: auto;
    margin-top: -200px;

    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #f6346d;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;

    &:hover {
      background-color: #c12757;
    }
  }

  .articleContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h2 {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 30px;
      font-weight: 700;
      margin: 20px 0;
      color: #222;
    }

    p {
      font-size: 23px;
      line-height: 1.6;
      margin: 10px;
      color: #444;
    }

    ul,
    ol {
      font-size: 23px;
      padding-left: 25px;

      li {
        margin-bottom: 10px;
      }
    }

    strong {
      font-weight: bold;
      color: #111;
    }

    .section {
      padding: 20px;
      background: #f9f9f9;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .icons {
      color: #f6346d;
      font-size: 32px;
    }

    img {
      margin: 0px auto;
      margin-top: -150px;
      height: 900px;
      width: 800px;
      margin-bottom: -90px;
    }
    .img3 {
      height: 1000px;
      width: 900px;
    }
  }

  @media (max-width: 768px) {
    .articleContainer {
      h2 {
        font-size: 20px;
      }
    }

    button {
      width: 100%;
    }
  }
}
