main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .storyContainer {
    h1 {
      text-align: center;
      .icon {
        color: #f76e96;
      }
    }

    .img1 {
      margin-left: 980px;
      margin-bottom: -80px;
      width: 330px;
      height: 230px;
    }
    .storyArea {
      display: flex;
      align-items: center;
      justify-self: center;
      flex-direction: column;
      width: 900px;
      height: 800px;
      border-radius: 10px;
      box-shadow: 0 6px 9px rgb(165, 10, 72), 0 -0px 6px rgba(100, 6, 15, 0.1);

      .areaTitlestory {
        margin: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        label {
          font-weight: 500;
          font-size: 25px;
        }
        input {
          border: none;
          outline: none;
          padding: 5px;
          font-size: 20px;
          border-bottom: 1px solid #33333350;
          width: 615px;
          height: 20px;
          font-weight: 400;
          color: #d92e62;
        }

        .iconinput {
          color: rgba(0, 0, 0, 0.607);
          font-size: 30px;
        }
      }

      textarea {
        border: 1px solid #33333330;
        text-indent: 25px;
        padding-top: 20px;
        outline: none;
        width: 800px;
        height: 600px;
        resize: none;
        border-radius: 14px;
        font-size: 18px;

        &::placeholder {
          color: #33333335;
        }
      }

      button {
      }
    }

    .img2 {
      margin-top: -190px;
      width: 270px;
      height: 270px;
    }
  }
}
