.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  width: 100%;

  h1 {
    font-size: 55px;
    font-family: Diphylleia;
    text-align: center;

    .iconTitle {
      font-size: 70px;
      color: #f76e96;
    }
  }

  .buttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;

    background-color: red;
    height: 0;
    margin-top: 120px;
    margin-right: 390px;

    button {
      box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 -1px 6px rgba(0, 0, 0, 0.1);
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      cursor: pointer;
      border-radius: 15px;
      width: 420px;
      height: 120px;
      border: none;
      outline: none;
      font-size: 30px;
      color: #333;
      transition: background-color 0.3s ease, color 0.3s ease;

      &:hover {
        background-color: #f76e96;
        color: white;
        transition: background-color 0.3s ease, color 0.3s ease;

        .icons {
          color: white;
        }
      }

      .icons {
        font-size: 60px;
        color: #ff81ae;
      }
    }
    .button3 {
      display: flex;
      justify-content: center;
    }
    a {
      text-decoration: none;
    }
  }

  img {
    width: 650px;
    height: 850px;
    margin-left: 1050px;
    margin-top: -230px;
  }
}
